


}

.jumbotron h1 {
  font-family: 'Vast Shadow', cursive;
  color: black;
  margin-bottom: 3em;
}


blockquote {
  border-left: 0;
}


}

#buzz {
  background-color: #FEFEFE
}

#mission {
  background-color: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding-bottom: 40px;
}
.jumbotron .form-group {
  line-height: 1em;
}

.jumbotron label {
  color: white;
}
.jumbotron img {
  margin-top: 100px;
}
h2 {
  margin-bottom: 1.5em;
}

h3 {
  color: grey;
  margin-bottom: 1.5em;
}
.navbar-inverse {
  background-color: black;
  opacity: 0.3;



}


body > * {
  padding: 20px;
  font-size: 20px;
  border: 10px solid black;
}



#social-buttons {
  margin-top: 50px;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}
